[Desktop Entry]
Name=st
Comment=st suckless terminal
GenericName=st terminal
X-GNOME-FullName=st suckless terminal
Exec=st -t "Simple Terminal" -f "Fira Code:weight=500:antialias=true:hinting=true:autohint=false:size=11:rgba=rgb"
Terminal=false
Type=Application
Encoding=UTF-8
Icon=/usr/local/share/applications/st-logo.png
#Icon=/home/jgrow/.config/st/st-logo.svg
#Icon=utilities-terminal
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;

