[Desktop Entry]
Name=st
Comment=st suckless terminal
GenericName=st terminal
X-GNOME-FullName=st suckless terminal
Exec=st -c "st-256color" -t "Suckless Terminal" -f "Fira Code:weight=500:antialias=true:hinting=true:autohint=false:size=11"
Terminal=false
Type=Application
Encoding=UTF-8
Icon=st
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
StartupWMClass=st-256color
StartupNotify=true

