[Desktop Entry]
Name=st
Comment=st suckless terminal
GenericName=st terminal
X-GNOME-FullName=st suckless terminal
Exec=st -t "Simple Terminal" -f "Fira Code:weight=500:antialias=true:hinting=true:autohint=true:size=14"
Terminal=false
Type=Application
Encoding=UTF-8
#Icon=/home/jgrow/.config/st/st-logo.svg
Icon=utilities-terminal
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;

